<div class="container">
    <h1 class="header--profile">Pet Profiles</h1>
    <div class="container--pet-profiles">
        <!--<div class="col-xs-12"> -->
            <!--<div data-ng-repeat="pet in userPets">-->
                <div data-ng-repeat="pet in userPets" class="col-xs-10 push-xs-1 col-md-4 container--pet">
                    <h2>{{pet.name}}</h2>
                    <button class="btn btn-primary">{{pet.petId}}</button>
                </div>
                <div class="col-xs-10 push-xs-1 col-md-4">
                    <p>Add a pet</p>
                    <button data-ng-click="addNewPet()"></button>
                </div>
            <!--</div>-->
        <!--</div> -->
    </div>
</div>