<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 section__account">
            <h1 class="header--profile">Pet Profiles</h1>
            <div class="container--pet-profiles container-fluid">
                <div data-ng-repeat="pet in userPets" class="col-xs-10 push-xs-1 container--pet">
                    <div class="container-fluid" data-ng-click="goToTargetPetView(pet.petId)">
                        <h2 class="header--profile-card col-xs-12 text-xs-center">{{pet.name}}</h2>
                    </div>
                </div>
                <div class="col-xs-10 container--pet-add push-xs-1 text-xs-center" data-ng-click="goToNewPetView()">
                    <h2 class="header--profile-card col-xs-8">Add a pet</h2>
                    <span class="col-xs-4 container--icon"><i class="fa fa-plus icon--add" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-md-6 section__account">
            <h1 class="header--profile">Petsitters</h1>
            <div class="container--pet-profiles container-fluid">
                <div data-ng-repeat="petsitter in userPetsitters" data-ng-click="goToTargetPetsitterView(petsitter.petsitterId)" class="col-xs-10 push-xs-1 container--pet text-xs-center">
                    <div>
                        <h2 class="header--profile-card col-xs-12">{{petsitter.firstName}} {{petsitter.lastName}}</h2>
                    </div>
                </div>
                <div class="col-xs-10 container--pet-add push-xs-1 text-xs-center" data-ng-click="goToNewPetsitterView()">
                    <h2 class="header--profile-card col-xs-10">Add petsitter</h2>
                    <span class="col-xs-2 container--icon"><i class="fa fa-plus icon--add" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>