<div>
    <form class="form-login" role="form">
        <input type="text" class="form-control input" placeholder="First Name" data-ng-model="newPetsitter.FirstName" required autofocus>
        <input type="text" class="form-control input" placeholder="Last Name" data-ng-model="newPetsitter.LastName" required>
        <input type="text" class="form-control input" placeholder="Phone" data-ng-model="newPetsitter.Phone" required>
        <input type="text" class="form-control input" placeholder="Email" data-ng-model="newPetsitter.Email" required>

        <div class="text-xs-center btn--form-spacing">
            <button class="btn btn-lg btn-primary" type="submit" data-ng-click="addNewPetsitter(newPetsitter)">Add</button>
        </div>
    </form>
</div>