<div>
    <form class="form-login" role="form">
        <input type="text" class="form-control input" placeholder="First Name" data-ng-model="newPet.Name" required autofocus>
        <input type="text" class="form-control input" placeholder="Last Name" data-ng-model="newPet.LastName" required>
        <input type="text" class="form-control input" placeholder="Phone" data-ng-model="newPet.Phone" required>
        <input type="text" class="form-control input" placeholder="Email" data-ng-model="newPet.Email" required>

        <div class="text-xs-center btn--form-spacing">
            <button class="btn btn-lg btn-primary" type="submit" data-ng-click="addNewPet(newPet)">Add Pet</button>
        </div>
    </form>
</div>