<div class="container container__form">

    <div class="col-md-6 push-md-3">
        <h1 class="form-login-heading header--login col-xs-12">Add medication</h1>

        <form class="form-login" role="form">
            <input type="text" class="form-control input" placeholder="Medication Name" data-ng-model="newMed.Name" required autofocus>
            <input type="text" class="form-control input" placeholder="Prescription Quantity" data-ng-model="newMed.PrescriptionQuantity" required>

            <div class="container container--select-pet-type text-xs-center">
                <fieldset class="form-group">
                    <h4 class="header--profile-card">Dosage Information</h4>
                    <div class="col-xs-6">
                        <input type="text" class="form-control input" placeholder="Dosage Quantity" data-ng-model="newMed.Dosage" required>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control input" placeholder="Dosage Unit (mL, capsule)" data-ng-model="newMed.DosageUnit" required>
                    </div>
                    <h4 class="header--profile-card-dosage col-xs-12">Dosage Frequency</h4>
                    <h5 class="header--profile-card">Once Every</h5>
                    <div class="col-xs-6">
                        <input type="text" class="form-control input" placeholder="Integer" data-ng-model="newMed.DosageInterval" required>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <select class="input-select" data-ng-model="newMed.DosageIntervalUnit">
                                <option value="hours">hour(s)</option>
                                <option value="days">day(s)</option>
                                <option value="months">month(s)</option>
                                <option value="years">year(s)</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="container container--select-pet-type text-xs-center">
                <fieldset class="form-group">
                    <h4 class="header--profile-card">Schedule Next Dosage</h4>
                    <div class="col-xs-12">
                        <h5 class="header--profile-card">Time</h5>
                        <div class="form-check">
                            <div class="col-xs-4">
                                <input type="text" class="form-control input" placeholder="HH" data-ng-model="newMed.Dosage" required>
                            </div>
                            <div class="col-xs-4">
                                <input type="text" class="form-control input" placeholder="mm" data-ng-model="newMed.Dosage" required>
                            </div>
                            <label class="form-check-label col-xs-4">
                                <select class="input-select" data-ng-model="newMed.DosageIntervalUnit">
                                    <option value="am">AM</option>
                                    <option value="pm">PM</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <h5 class="header--profile-card">Date</h5>
                        <div class="form-check">
                            <div class="col-xs-4">
                                <input type="text" class="form-control input" placeholder="Month" data-ng-model="newMed.Dosage" required>
                            </div>
                            <div class="col-xs-4">
                                <input type="text" class="form-control input" placeholder="Day" data-ng-model="newMed.Dosage" required>
                            </div>
                            <label class="form-check-label col-xs-4">
                                <select class="input-select" placeholder="Year" data-ng-model="newMed.DosageIntervalUnit">
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="container container--select-pet-type text-xs-center">
                <fieldset class="form-group">
                    <h4 class="header--profile-card">Does the medication get refilled?</h4>
                    <div class="form-check">
                        <label class="form-check-label col-xs-6">
                            <input type="radio" class="form-check-input" data-ng-model="newMed.DoesPrescriptionGetRefill" value="true" id="yesRadio">
                            <span class="text--select">Yes</span>
                        </label>
                        <label class="form-check-label col-xs-6">
                            <input type="radio" class="form-check-input" data-ng-model="newMed.DoesPrescriptionGetRefill" value="false" id="noRadio">
                            <span class="text--select">No</span>
                        </label>
                    </div>
                </fieldset>
            </div>
            
            <div class="text-xs-center btn--form-spacing">
                <button class="btn btn-lg btn-primary" type="submit" data-ng-click="addNewMed(newMed)">Add Medication</button>
            </div>
        </form>
        <span class="text-xs-center col-xs-8 push-xs-2 container--icon-data" data-ng-click="backToAccount()"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i><span class="spacing--back">Back to Account</span></span>

    </div>
</div>
