<div class="container-fluid">
    <div class="col-xs-12 text-xs-center">
        <h1 class="header--home">woof.li</h1>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="container-fluid text-xs-center">
            <div class="container--account-service text-xs-center">
                <h2 class="header text-xs-center">Login</h2>
                <p class="text text-xs-center">Already registered? Click here to modify account settings, pet details, or create a new petsitting session.</p>
                <p class="text-xs-center"><a class="btn btn-primary" href="/login" role="button">Login</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="container-fluid text-xs-center">
            <div class="container--account-service text-xs-center">
                <h2 class="header text-xs-center">Sign Up</h2>
                <p class="text text-xs-center">Create an account to make keeping track of your pet's needs a breeze</p>
                <p class="text-xs-center"><a class="btn btn-primary" href="/signup" role="button">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>