
<div class="container">

    

    <div class="col-md-6 push-md-3">
        <h1 class="form-login-heading header--login">Login</h1>

        <form class="form-login" role="form">
            <input type="text" class="form-control input" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
            <input type="password" class="form-control input" placeholder="Password" data-ng-model="loginData.password" required>

            <div class="text-xs-center">
                <button class="btn btn-lg btn-primary" type="submit" data-ng-click="login()">Login</button>
            </div>

            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>

        </form>
    </div>
</div>