
<div class="container container__form">

    <div class="col-md-6 push-md-3">
        <h1 class="form-login-heading header--login">Register</h1>
        <form class="form-login" role="form">

            <input type="text" class="form-control input" placeholder="Username" data-ng-model="registration.userName" required autofocus>
            <input type="password" class="form-control input" placeholder="Password" data-ng-model="registration.password" required>
            <input type="password" class="form-control input" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
            <input type="text" class="form-control input" placeholder="Email" data-ng-model="registration.Email" required />
            <input type="text" class="form-control input" placeholder="Phone" data-ng-model="registration.PhoneNumber" required />
            <div class="col-xs-12 text-xs-center">
                <h4 class="header--profile-card-dosage col-xs-12">Preferred Method of Contact</h4>
                <div class="form-group">
                    <select class="input-select" data-ng-model="registration.PrefersContactByPhone">
                        <option value="true">Phone</option>
                        <option value="false">Email</option>
                    </select>
                </div>
            </div>

            <div class="text-xs-center btn--form-spacing">
                <button class="btn btn-lg btn-primary" type="submit" data-ng-click="signUp()">Submit</button>
            </div>
            <div class="message--login text-xs-center" data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </form>
    </div>
</div>
