@import "variables.scss";

.container {

    &__form {

        margin-top: 20vh;
        @media #{$mobile-only} {
        margin-top: 15vh;
        }
    }

    &--pet {
        background-color: $background-color;
        color: $dark-font-color;
        box-shadow: 0 4px 2px -2px gray;
        min-height: 50px;
        border: 2px solid $light-font-color;
        border-radius: 10px;
        margin-bottom: 2vh;
    }

    &--pet-add {
        background-color: $contrast-color;
        color: $dark-font-color;
        box-shadow: 0 4px 2px -2px gray;
        min-height: 50px;
        border: 2px solid $light-font-color;
        border-radius: 10px;
    }

    &--pet-profiles {
        margin-top: 4vh;
        background-color: #BFD8D9;
        border: 3px solid $light-font-color;
        border-radius: 10px;
        padding: 15px;
        height:auto; overflow:auto
    }

    &--icon-div {
        padding-top: .65vh;
    }

    &--icon-data {
        color: $light-font-color;
        font-size: 1.1rem;
    }

    &--icon {
        padding-left: 2vw;
        padding-top: 0.75vh;
    }

    &--account-service {
        height: 300px;
        max-width: 300px;
        margin:auto;
        background-color: $light-font-color;
        border: 3px solid $contrast-color;
        border-radius: 50%;
        margin-top: 7.5vh;
        box-shadow: 0 4px 2px -2px gray;

        @media #{$mobile-only} {
            border-radius: 5px;
            border: none;
            max-width: 100vw;
            max-height: 20vh;
        }
    }
}