@import "variables.scss";

.header {
    font-family: $concert;
    margin-top: 70px;
    color: $dark-font-color;

    &--profile {
        color: $light-font-color;
        font-family: $concert;
        border-bottom: solid 2px $light-font-color;
        display: inline;
        padding-bottom: 3px;
    }

    &--login {
        font-family: $concert;
        color: $light-font-color;
        margin-top: 7.5vh;
        margin-bottom: 3vh;
        border-bottom: solid 2px $light-font-color;
        display: inline;
        padding-bottom: 3px;
    }

    &--home {
        margin-top: 7.5vh;
        color: $light-font-color;
        font-family: $concert;
        font-size: 8rem;
    }
}