@import "variables.scss";

.icon--add {
    font-size: 1.5rem;
    padding-top: .75vh;
    color: $light-font-color;
}

.icon--detail {
    font-size: 1.5rem;
    padding-top: 1vh;
    color: $light-contrast-color;
}