@import "variables.scss";

.content {
    background-color: $background-color;
}

.text {
    color: $background-color;

    &--select {
        font-size: 18px;
        font-weight: 600;
    }
}

.btn-primary {
    background-color: $contrast-color;
    color: $light-font-color;
    border: 0;
    box-shadow: 0 4px 2px -2px gray;
    &:hover {
        background-color: $light-contrast-color;
        color: $dark-font-color;
    }
}

.btn--form-spacing {
    margin-top: 2vh;
}

.spacing--back {
    padding-left: 1.5vw;
}

.message--login {
    margin-top: 2.5vh;
}