.content {
  background-color: cadetblue; }

.text {
  color: cadetblue; }

.btn-primary {
  background-color: #FF8C00;
  color: #fff;
  border: 0;
  box-shadow: 0 4px 2px -2px gray; }
  .btn-primary:hover {
    background-color: #FFDCB2;
    color: #333333; }

.btn--form-spacing {
  margin-top: 2vh; }

.message--login {
  margin-top: 2.5vh; }

