// Color Variables

$background-color: cadetblue;

$contrast-color: #FF8C00;
$light-contrast-color: #FFDCB2;

$dark-font-color: #333333;
$light-font-color: #fff;

// Font Family Variables
$concert: 'Concert One';

// Media Query Variables
$mobile-only: "only screen and (max-width : 767px)";